<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Welcome to Lucky Louie's Pizza Parlour!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/pizzas" class="btn btn-danger">Menu</a>
        </div>
    </div>
</div>